<div class="container mt-5">
    <div class="row">
        <div class="info" *ngIf = "musicData.length === 0">
            <h1>Please add some music to your <span class="musicBook">MusicBook</span></h1>
            <p class="text-center">click here to <button class="btn btn-outline-info" (click) = "add()">add</button></p>
        </div>
        <div class="col-md-3" *ngFor = "let data of musicData; let j = index">
            <div class="card text-center">
                <div class="card-body">
                    <div class="title">
                        <h1>{{data["name"]}}</h1>
                    </div>
                    <div class="artist">
                        <h4><span style="font-size: 12px;">by &nbsp;</span>{{data["artist"]}}</h4>
                    </div>
                    <div class="hiddenDetails mt-4">
                        <p>Genre: {{data["genre"]}}</p>
                        <p>Description: {{data["description"]}}</p>
                        <button class="btn btn-sm btn-outline-danger" (click) = "clear(j)">Clear</button>
                    </div>
                </div>
                <div class="more p-3">
                    <button class="btn btn-outline-dark" (click) = "play(j)">play</button>
                </div>
            </div>
        </div>
    </div>
</div>
