.info{
    margin:0 auto;
    margin-top: 20%;
    .musicBook{
        color: rgb(0, 211, 211);
    }
}
.card-body{
    background: skyblue;
   .title{
       cursor: pointer;
   }
}
@media(max-width: 600px){
    .info{
        margin-left: 10%;
        p{
           margin-top: 10%;
            margin-right: 27%;
        }
    }
}